﻿@model Task_21_Part_2.Models.AnimalHub
@{
    ViewData["Title"] = "Correct";
}

<div class="text-center">
    <h1 class="display-4">Correct Answer</h1>
    <br />
    @if(Model.pts >= 11)
    {
        <a asp-action="Victory"><button type="button" class="btn btn-outline-primary">Continue</button></a>
    }
    else
    {
        <p>You have @Model.pts  point(s), keep it up!</p>
        <br />
        <a asp-action="Game"><button type="button" class="btn btn-outline-primary">Continue Game</button></a>
    }
</div>

