﻿@model Task_21_Part_2.Models.AnimalHub

@{
    ViewData["Title"] = "Game";

}

    <div class="text-center">
        <h1 class="display-4">Animal-Guessr</h1>
        <br />
        <br />
        <img src="@Model.imgUrl" id="Pic" style="width:50%;height:50%;border:1px solid black;" />
        <br />
        <br />
        @if (Model.anim == 1)
        {
            <a asp-action="Correct"><button type="button" class="btn btn-outline-primary" style="padding:20px 40px;margin-left:-10px;margin-right:300px">Dog</button></a>
            <a asp-action="Incorrect"><button type="button" style="padding:20px 40px" class="btn btn-outline-primary">Cat</button></a>
        }
        else
        {
            <a asp-action="Incorrect"><button type="button" class="btn btn-outline-primary" style="padding:20px 40px;margin-left:-10px;margin-right:300px">Dog</button></a>
            <a asp-action="Correct"><button type="button" style="padding:20px 40px" class="btn btn-outline-primary">Cat</button></a>
        }
    </div>

