﻿
@{
    ViewData["Title"] = "Incorrect";
}

<div class="text-center">
    <h1 class="display-4">Incorrect Answer</h1>
    <br />
    <p>Sorry, that is the wrong answer...</p>
    <p>Better luck next time!</p>
    <br />
    <a asp-action="Index"><button type="button" class="btn btn-outline-primary">Return to Beginning</button></a>
</div>

