﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><br />Would you like to play a game?</p>
    <p>It's really simple, just click the correct button the animal in the image belongs to!</p>
    <p>In this version, it's only between cats and dogs. Get 11 correct in a row to win!</p>
    <br />
    <a asp-action="Game"><button type="button" style="padding:10px 40px" class="btn btn-outline-primary">Start Game</button></a>
</div>
