﻿
@{
    ViewData["Title"] = "Victory";
}

<div class="text-center">
    <h1 class="display-4">Victory!</h1>
    <p><br />Congratulations!</p>
    <p>You beat the game! Enjoy your gif!</p>
    <br />
    <img src="https://media0.giphy.com/media/msKNSs8rmJ5m/giphy.gif?cid=790b7611481b6e308cf3277ed135699aeeec5083f33b9f51&rid=giphy.gif" />
</div>
