:host {
    display: block;
    margin: 25px 0;
}

.todo-add {

    position: relative;

    input {
        display: block;
        width: 100%;
        font-size: 2em;
        padding: 10px 15px;
        font-family: inherit;
        border-radius: 5px;
        border: none;
        height: 60px;

        &:focus, &:active {
            box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.4);
        }

    }

    button {
        border: none;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 60px;
        border-radius: 5px;
        width: 10%;
        font-family: inherit;
        font-size: 1em;
        padding: 0 20px;
        font-weight: bold;
        cursor: pointer;
    }
}