html, body{
    font-family: 'Comfortaa', cursive;
}

button{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    border: 1px solid #ffffff;
    background-color: #333;
    color: #FFFFFF;
}

select{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    height: 42px;
}