/* You can add global styles to this file, and also import other style files */
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #020118, #01123f, #001a6a, #002096, #0020c3, #8c00bf, #cd00b5, #ff00a8, #ff3773, #ff793f, #ffb400, #eae60e);
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

