.todo-list{
    padding: 0 25px 25px 25px;
    background: white;
    border-radius: 5px;
    margin-bottom: 25px;

    .no-todos{
        padding-top: 25px;  
    }
}

.todo-items{
    
}

.todo-item{
    padding: 15px;
    border-bottom: 1px solid #cccccc;

    .content{
        display: flex;
        justify-content: space-between;
    }

    .content button{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background: red;
        color: white;
        border: none;
    }
}