<div class="todo-list">
    <div *ngIf="todos.length === 0" class="no-todos">
        <b>You don't have anything to do. Good job!</b>
    </div>

    <div class="todo-items">
        <div *ngFor="let todo of todos" class="todo-item">
            <div class="content" *ngIf="!todo.edit">
                <div>
                    <input type="checkbox" [(ngModel)]="todo.completed">
                    <span (click)="onTitleClicked(todo.id)">
                        {{todo.title}}
                    </span>
                </div>

                <button (click)="onDeleteClicked(todo.id)"> x </button>
            </div>
            <app-update-todo [todo]="todo" *ngIf="todo.edit"></app-update-todo>

            <small>Added on: {{todo.created_at | date: "short"}}</small>
        </div>

    </div>

</div>