input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #af2525;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #973333;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px
}