html, body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
}

* {
    box-sizing: border-box;
}

form h1 {
    margin-top: 0;
}

main{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    padding: 45px;
}

form label{
    font-size: 1em;
    display: block;
    margin-bottom: 5px;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group input{
    font-size: 1.1em;
    height: 42px;
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
}

form button#btn-login{
    border: 1px solid rgb(63, 89, 238);
    font-size: 1.2em;
    background-color: rgb(63, 89, 238);
    padding: 15px;
    color: white;
    border-radius: 3px;
}